MONGODB_URI='mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority'
DATABASE_NAME='trello-local-db'
HOST='localhost'
PORT=8017
AUTHOR='YourName'
WEBSITE_DOMAIN='http://localhost:5173'

BREVO_API_KEY='your-brevo-api-key'
ADMIN_EMAIL_ADDRESS='admin@gmail.com'
ADMIN_EMAIL_NAME='Admin Name'

ACCESS_TOKEN_SECRET_SIGNATURE='your-access-token-secret-signature'
ACCESS_TOKEN_LIFE='1h'

REFRESH_TOKEN_SECRET_SIGNATURE='your-refresh-token-secret-signature'
REFRESH_TOKEN_LIFE='14 days'

CLOUDINARY_CLOUD_NAME='your-cloudinary-cloud-name'
CLOUDINARY_API_KEY='your-cloudinary-api-key'
CLOUDINARY_API_SECRET='your-cloudinary-api-secret'

WHITELIST_DOMAINS='http://localhost:5173,https://your-production-domain.com'